PORT=5000
NODE_ENV=development
REQUIRE_EMAIL_VERIFICATION=false
MONGODB_URI=mongodb+srv://your_user:your_password@your-cluster.mongodb.net/usmba_db?retryWrites=true&w=majority
JWT_SECRET=change_this_secret_in_development
CLIENT_URL=http://localhost:3000
CLIENT_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
